###### Encendemos el rewrite
RewriteEngine On

###### Redirigimos a de la URL_falsa URL_verdadera

# Acciones index 
RewriteRule quienes_somos index.php

# Formulario inicio sesion
RewriteRule acciones index.php
RewriteRule inicio_sesion index.php
RewriteRule crear_cuenta index.php
RewriteRule logout index.php
RewriteRule recursos index.php
RewriteRule pago index.php