@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-VariableFont_opsz,wght.ttf');
}

/* Aplicar la fuente a todo el documento */

h1, h2, h3, h4, h5, h6, 
p, span, a, button, li, label {
  font-family: 'Inter', sans-serif;
}

/* IMPLEMENTAR  */
.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card-hover:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.3);
}
/* Mantener la coherencia con los colores existentes */
.bg-mvv-card {
  background: linear-gradient(135deg, rgba(7, 13, 37, 0.95) 0%, rgba(7, 13, 37, 0.98) 100%);
}